<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CompanyName" value="ContMontX Corporation"/>
    <add key="SendGrid:ApiKey" value="SG.ZV-VYwtHzJJW4wF8yPQk3.ZXg9c9DZuOgUcW1f2inP6SqfEsYG82zAe0wG7brZZ5OvruV-I"/>
    <add key="Environment" value="Production"/>
    <add key="LogLevel" value="Information"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error"/>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>